body {
	font-size: 16px;
	font-family: Roboto;
	font-weight: 300;
	line-height: 40px;
}

.past-event a, .past-event a:hover {
	color: gray;
}

a {
	color: #20A8E0;
	font-style: normal;
}
a:hover {
	color: #20A8E0;
}

.columned {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
}

.jumbotron {
	background: white;
	font-size: 28px;
	line-height: 44px;
	padding: 70px 0 20px 0;
}

.jumbotron .col-md-8 {
	padding: 0 60px;
}

.jumbotron h1 {
	color: #1485CC;
	font-weight: 300;
}

.jumbotron img {
	max-width: 100%;
	margin-top: 10px;
}

.nav-tabs {
	margin-bottom: 15px;
}

h2 {
	margin: 30px 0 20px;
}

.columned ul {
	list-style: none;
	padding-left: 0;
}

.columned li {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
	font-style: italic;
}

div.keepblock {
	display: inline-block;
	width: 100%;
}

.description {
	font-size: 12px;
	line-height: 16px;
}

img.twitter {
	width: 64px;
	height: 64px;
	vertical-align: top;
}

footer {
 	background: rgba(0, 0, 0, 0.01);
	margin: 30px 0 0 0;
	padding: 30px 0;
}

footer span {
	font-weight: 400;
}
footer a {
	float: right;
	margin: 0 30px;
}
